<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262157195711-rqjqqlv7ghd3b2rc16usb9616m2kbdq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262157195711-rqjqqlv7ghd3b2rc16usb9616m2kbdq4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>262157195711-lg676b0cvutllkgap6jv8ls3epnc57fj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVlowf_6ivmfN_FemSpqfcPvlGbE6XOCM</string>
	<key>GCM_SENDER_ID</key>
	<string>262157195711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igomezal.enGarde</string>
	<key>PROJECT_ID</key>
	<string>en-garde-1b8c5</string>
	<key>STORAGE_BUCKET</key>
	<string>en-garde-1b8c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262157195711:ios:6c6e6b17ae7da6458f690a</string>
	<key>DATABASE_URL</key>
	<string>https://en-garde-1b8c5.firebaseio.com</string>
</dict>
</plist>